[2019-09-15 20:50] spock-recode opened #1 "design Mark1 for re-code.io"
## Purpose
- Make your team's PR to a professional reviewer.

## Features
- [x] Github SSO(using Firebase Auth)
- [ ] Get permissions(PR read, PR write comment) of user's Git Repository
- [ ] Store Users
- [ ] implement webhook when PR updated

## Pages
1. Landing Page
    - show recent the PRs
    - show recent the Reviewers
2. PRs
    - list up all of PR
    - function
      a. list up my PR onl

[2019-09-16 16:48] spock-recode opened #2 "Implementation sign-in with Gihub SSO"

[2019-09-16 17:39] #2 closed

[2019-09-22 08:49] ryancho opened #5 "Document"
1. For Reviewee landing page by figma.
2. For Reviewer Introduce Doc.

[2019-09-29 18:34] aesopturtle opened #6 "Launch Subscription"
Implement UI to allow a user to subscribe for a notification when re-code is launched. Use firebase hosting for UI site hosting and use cloud firestore to store data.

- [x] Setup project structure
- [x] Apply themes with Angular Material Theme Engine
- [x] Create mobile layout for email subscription
- [x] Create desktop layout for email subscription
- [x] Implement firebase hosting to the Web pro

[2019-09-30 11:01] spock-recode commented on #6
![image](https://user-images.githubusercontent.com/55256260/65873045-02fd7580-e3bd-11e9-8f7d-03427a5ee301.png)
Could you please make that checkbox to required?

[2019-09-30 11:04] #5 closed

[2019-09-30 11:27] spock-recode opened #7 "Create a document for MVP"
## Purpose
- There are 50 reviewees ready. So we needs a MVP product.
- Create payment function and provide code-review and code-contents service.

## Function
1. Sign-in with Github SSO
2. Make connect Github repository
3. Payment
4. Provide PR List
5. Provide code-contents
6. Create Github app for the ReCode(connect between user repo and the ReCode)
7. Rate Reviewer

## Document
https://docs.goo

[2019-09-30 12:21] iamappple opened #8 "Change the teaser site style"
# Figma file
https://www.figma.com/file/T2o78Qs9xxehsPu9Zq8iKD/Teaser?node-id=0%3A1

# Description
We need change some part in our teaser site.

1. Delete our service name and insert B.I image
2. Added background in user input form.

![image](https://user-images.githubusercontent.com/55983122/65878030-0b0ee280-e3c8-11e9-9cc4-5c2f54a31f5e.png)

Sorry. I can not attach the file.

[2019-09-30 18:15] aesopturtle commented on #6
@iamappple The changes have been deployed to https://re-code-io.firebaseapp.com.
Please note that the button color cannot be easily changed at the moment since it follows the material theme engine.
I will come back and customize it later.

[2019-09-30 18:25] aesopturtle commented on #8
- [x] Center the content area.
- [ ] Increase spacing between radio buttons.
- [ ] Replace text-based logo with images.
- [ ] Add white background to form area.

[2019-09-30 18:57] aesopturtle commented on #8
@iamappple The changes have been deployed to https://re-code-io.firebaseapp.com.
Please note that the colors of the controls (radio, checkbox, and button) on the white background follow the theme engine and cannot be easily customized.
I will come back and customize them later.

[2019-10-01 05:34] iamappple commented on #8
Please change the size of this text a little bit larger on mobile version.

![image](https://user-images.githubusercontent.com/55983122/65936579-06920a80-e458-11e9-8521-44e53c295e15.png)

Looks like this

![image](https://user-images.githubusercontent.com/55983122/65936712-7dc79e80-e458-11e9-88d8-1487e5651bea.png)

[2019-10-01 05:38] iamappple commented on #8
@aesopturtle  And please change the page title. -> RE: {CODE};

[2019-10-01 06:44] aesopturtle commented on #8
@iamappple For point 3, I'm not sure if that can be achieved since it's the browser's behavior which is based on the input font size. Based on the design, the font size is so small that Safari will zoom automatically. However, I have tried using the fix suggested by @spock-recode. Please try again to see if the issue is fixed.

[2019-10-01 08:10] iamappple commented on #8
@aesopturtle Can you change the desktop version text?
Like this.
![image](https://user-images.githubusercontent.com/55983122/65945120-3ba95780-e46e-11e9-90b7-c73a134d2948.png)

I think it would be better to come out of the mobile version only as it is now.

[2019-10-01 08:13] aesopturtle commented on #8
@iamappple It's probably not possible to force a line break on mobile but not on a desktop. If we don't insert a line break, it won't look like what you asked for for the mobile screen.

[2019-10-01 09:21] iamappple commented on #8
@aesopturtle

# 1. Change head copyright text
* (now) 국내외 Top Class 전문가의 코드 리뷰가 시작됩니다.
Github를 통한 간편하고 완벽한 코드 리뷰를 경험해보세요.

* (Change) 국내외 Top Class 전문가의 코드 리뷰가 시작됩니다.
간편하고 완벽한 코드리뷰를 경험해보세요.

You can check the figma file.
https://www.figma.com/file/T2o78Qs9xxehsPu9Zq8iKD/Teaser?node-id=0%3A1

Desktop
![image](https://user-images.githubusercontent.com/55983122/65948479-503d1e00-e475-11e9-90f5-4aaf5f

[2019-10-01 13:36] aesopturtle commented on #8
@iamappple Please check again. The OG information may not appear until `re-code.io` points to the server.

[2019-10-05 10:40] iamappple opened #9 "Wireframe for Backoffice : Sign in, Subscriber list"
# Figma file URL

https://www.figma.com/file/miRQYWwKQFkv0SbL3opjl2/Backoffice?node-id=8%3A0

# Description
![image](https://user-images.githubusercontent.com/55983122/66255768-97534800-e7c2-11e9-9bc8-54089afd6ab0.png)

The page is configured with the sign in screen of the administrator and the Subscriber List screen.

* Administrator site sign-in is possible with single sign-on.
* With Google Sin

[2019-10-05 10:51] #8 closed

[2019-10-05 10:52] #6 closed

[2019-10-05 11:05] #1 closed

[2019-10-05 12:39] #7 closed

[2019-10-06 06:30] spock-recode opened #10 "Create documents for the code-review"
- [x] 계약서
- [x] NDA
- [x] A guide for reviewee
- [x] A guide for reviewer

[2019-10-07 01:40] iamappple opened #11 "Create service process"
# Document
[App Service Process](https://docs.google.com/presentation/d/1CvEE_-A2uDF6PDoI6pZMdGaf2eXfIa5DBwyLHshmkWE/edit#slide=id.p)

# Description
와이어프레임 제작에 맞춰 서비스 프로세스를 정의합니다.
따라서 본 문서는 지속적으로 업데이트 예정입니다.

[2019-10-08 03:25] iamappple opened #12 "Wireframe for app : main"
# Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=0%3A1

# Description
I made two types of design.

**Type 1.**

This is a design that follow the github style.

**Type 2.**

It is a design that adds graphic elements.

You have to choose between two designs. So I'm going to apply the details.

[2019-10-08 12:03] aesopturtle opened #13 "[Admin] Implement launch-subscriber list."
Create a page to display a paginated list of launch subscribers.
A user should be able to filter the list by:
1. Team size
1. Purpose
1. Email address

Design: https://www.figma.com/file/miRQYWwKQFkv0SbL3opjl2/Backoffice?node-id=8%3A162

[2019-10-10 05:26] iamappple commented on #9
@spock-recode  UI 작업이 진행되기 전에 전체 워딩 확인해주세요. 또한 소스 이미지 부분에 리뷰어의 코멘트 부분에 대한 작성도 필요합니다.  체크 부탁드려요~

[2019-10-10 05:27] #9 closed

[2019-10-10 05:27] iamappple commented on #9
@spock-recode  @ryancho  UI 작업이 진행되기 전에 전체 워딩 확인해주세요. 또한 소스 이미지 부분에 리뷰어의 코멘트 부분에 대한 작성도 필요합니다. 체크 부탁드려요~

본 이슈는 완료 처리 합니다.

[2019-10-10 05:28] #12 closed

[2019-10-10 08:33] iamappple opened #14 "[App] Development for app - Main"
# Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=0%3A1

# Related Document
[Service Process](https://docs.google.com/presentation/d/1CvEE_-A2uDF6PDoI6pZMdGaf2eXfIa5DBwyLHshmkWE/edit#slide=id.p)

You can check the service process in above document.

This document currently defines the processes for Webapp access, Sign in, and Sign up.  The process for codreview is about

[2019-10-10 08:34] iamappple commented on #14
@spock-recode 메인 화면의 문구에 대해서 개발 진행 전 체크 및 수정이 필요합니다. 확인해주세요~

[2019-10-11 05:51] iamappple opened #15 "[App] Wireframe for app : Sign in / Sing up / Sing out"
# Figma URL

https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=346%3A33

# Description
We enable membership and login with the Github account SSO.  When you sign up as a member, you provide a simple message to help you understand our service.

[2019-10-11 05:52] iamappple commented on #15
@aesopturtle @spock-recode Please check this issue.

[2019-10-11 06:00] iamappple opened #16 "[App] Wireframe for app : How it works"
# Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=171%3A151

# Description
This screen contains instructions for RE-CODE. There is no separate function on this screen. There are only links to content, key screens and functions. For more information, please check the instructions in which the Figma file was written.

[2019-10-11 09:11] iamappple commented on #16
@spock-recode 이 화면에 들어가는 내용에 대한 검토가 필요합니다. 프로세스와 주요 안내 사항이 정확한지 확인 해주세요.

@aesopturtle Please check this issue.

[2019-10-11 10:07] iamappple opened #17 "[App] Wireframe for app : Pricing"
# Figma

# Description

[2019-10-11 13:11] iamappple commented on #17
@spock-recode 결제에 대한 내역이 확정이 되었을까요? 확정 내역이 있다면 답변 주세요~

@aesopturtle  Please check this issue.

[2019-10-12 02:49] iamappple opened #18 "[App] Development for app : Sign in / Sign up / Sign out"
# Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=346%3A33

# Related Document
[Service Process](https://docs.google.com/presentation/d/1CvEE_-A2uDF6PDoI6pZMdGaf2eXfIa5DBwyLHshmkWE/edit#slide=id.p)

You can check the service process in above document.

This document currently defines the processes for Webapp access, Sign in, and Sign up.  The process for codreview is abo

[2019-10-12 02:49] #15 closed

[2019-10-12 02:51] iamappple opened #19 "[App] Development for app : How it works"
# Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=171%3A151

# Description
This is a page describing the re-code. This page does not have a function, but only provides links to other menus or functions.

[2019-10-12 02:52] #16 closed

[2019-10-12 02:54] iamappple opened #20 "[App] Development for app : Pricing"
# Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=179%3A224

# Description
This is our product list page. Although this page will provide payment to users when they choose an item, payment has not yet been finalized. It is planning to produce additional screens that are needed when payment is finalized.

[2019-10-12 02:54] #17 closed

[2019-10-12 02:55] iamappple opened #21 "[App] Wireframe for app : PRs"
# Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=190%3A269

[2019-10-14 04:43] ryancho opened #22 "Sales action [Plan]"
- [x] First Sales Starting
Step: After Payment
-receipt
[Result](https://mail.google.com/mail/u/3/?tab=wm&ogbl#inbox/FMfcgxwDrlVmnKQCMtfJDmFpCzwCpTDq)
-NDA/privacy
[Result](https://docs.google.com/forms/u/3/d/1t1VDt48oULieaRidJO2mg_X8ABm3E4xtG_4INeMYBQE/edit?usp=drive_web)
a.NDA
[Result](https://www.notion.so/NDA-8ff77d7185834647ba09dbb71f7b020e)
b.Terms of Serivce
[Result](https://www.notion.so/9

[2019-10-14 05:16] spock-recode commented on #22
리뷰어 질문지와 심사기준에 대해,
리뷰어들의 Check List 9가지를 기준으로 설문지가 작성되어 심사를 통해 Level을 정하고 github id를 받는것이 좋겠습니다.
그리고 domain 지식의 경우에는 검증할 방법이 마땅히 없기 때문에, 이력을 제시하는 것으로 확인해야 겠습니다.

**Check List**
1. 로직
2. 알고리즘
3. 재사용성
4. 확장성
5. 성능
6. 보안
7. 적절한 라이브러리 사용
8. 디자인 패턴
9. 잠재적 버그

[2019-10-14 05:31] iamappple opened #23 "[App] UI/UX decision"
This is an issue for discussion of our service screen. @aesopturtle @ryancho @spock-recode

If you have an opinion and you have one, please register it as a comment on this ticket. And you can see the original Figma screen through the URL of each screen.

* The main screen excluded the decision because we all voted.

## Sign in / Sign up
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?nod

[2019-10-14 05:40] iamappple commented on #23
Please check this issue.  @aesopturtle @ryancho @spock-recode

[2019-10-14 06:12] spock-recode commented on #23
## Prcing
- 개인용/기업용을 Tab으로 구분해서 보여주는 것이 어떨까 합니다.

## PRs
- 나(또는 팀)의 PR을 Summary 형태로 상단에 보여주는 것이 좋을 것 같습니다.
- Story -> "나(또는 팀)이 요청한 PR의 진행상황을 한 눈에 보고 싶다.

[2019-10-14 06:20] iamappple commented on #23
@spock-recode  상기 코멘트에 대한 질문입니다.

**1.  Pricing**
탭 구분을 하는 것은 좋은 아이디어로 생각됩니다. 특히나 모바일을 고려했을때는요.

근데 이렇게되면 디폴트로 보여지는 탭 외의 요금제는 유저가 클릭을 해야만 보여지게 되는 것이 조금 걸리네요.

이 부분 고려해서 다시 한번 생각해봐주세요.

**2. PRs**
Story 부분은 잘 이해가 안가는데, 혹시 참고할만한 레퍼런스가 있으실까요?

[2019-10-14 06:26] spock-recode commented on #23
1. 탭으로 보여져야 요금이 차이가 나는 이유가 구분이 되고 간단히 인지할 수 있으리라 보입니다.
2. 내(또는 팀)이 최근 요청한 PR들의 진행상황을 보여주면 될 것 같습니다. 이용자의 PR을 한눈에 볼 수 있는 페이지가 없으니 당장은 PRs 페이지를 활용하자는 의견입니다.

[2019-10-14 06:40] iamappple commented on #23
@spock-recode 상기 내용 반영 작업 진행하도록 하겠습니다.

[2019-10-14 06:48] ryancho commented on #22
@spock-recode
NDA/privacy

[2019-10-14 06:58] spock-recode commented on #22
현재 수준에서 우리가 할 수 있는 최선이라 생각합니다.

[2019-10-14 08:26] ryancho commented on #22
@reviewer-recode
test noti

[2019-10-14 08:38] ryancho commented on #22
@reviewer-recode
test noti2

[2019-10-14 08:40] ryancho commented on #22
@reviewer-recode
test phone noti3

[2019-10-14 08:46] spock-recode commented on #22
@reviewer-recode test test test

[2019-10-14 08:53] ryancho commented on #22
@reviewer-recode mention test

[2019-10-14 08:56] ryancho commented on #22
@reviewer-recode phone noti

[2019-10-14 08:58] ryancho commented on #22
@reviewer-recode  notititititititi !!

[2019-10-14 09:17] ryancho commented on #22
@reviewer-recode noti

[2019-10-14 09:17] ryancho commented on #22
@reviewer-recode cool

[2019-10-14 09:18] ryancho commented on #22
@reviewer-recode hoho

[2019-10-14 10:16] iamappple commented on #23
@spock-recode @aesopturtle I finished Pricing screen design. Please check it out figma file.
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=179%3A224

[2019-10-14 13:41] ryancho commented on #23
1.Sign in / Sign up
a.Contract Service
Terms of Service
Privacy
NDA
가 들어가야하는데 가입단계에서 받는것을 좋을것같습니다.
[들어갈내용들](https://docs.google.com/forms/d/1t1VDt48oULieaRidJO2mg_X8ABm3E4xtG_4INeMYBQE)

b.Text
레파지토리 -> 레포지토리 [(위키피디아에서는 레포지토리사용)](https://ko.wikipedia.org/wiki/%EC%A0%80%EC%9E%A5%EC%86%8C)

[2019-10-14 13:42] ryancho commented on #23
@spockwoz prcing에 200만원 모델이 들어가야할것같은데. 링크 공유가 apple님에게 되었나요

[2019-10-14 13:57] iamappple commented on #23
1. 해당 내용을 반영하기 위해서는 프로세스를 좀 변경해야겠네요. 이 부분은 작업 완료되는 대로 다시 공유 드릴게요.

2. 한글 기준 레포지토리로 변경 적용 하도록 하겠습니다.

3. 200만원 모델에 대해서는 공유가 안되었습니다. 상세 내용 댓글 남겨주세요.

[2019-10-15 02:18] iamappple commented on #23
@@ryancho @spock-recode @aesopturtle   추가적인 의견이 있다면 금일 오후 2시까지 이 이슈에 코멘트로 남겨주세요.
If you have any further comments, please comment on this issue by 2:00 p.m. today.

상기 의견에 대해서는 현재 디자인 반영 작업 중에 있으며 반영 완료 후에는 별도 공유하도록 하겠습니다.
I am currently working on the design and will share the after design.

@ryancho 200만원 모델이 포함될 위치(개인/기업)와 안내 사항에 대해서 본 이슈에 코멘트로 남겨주세요.

[2019-10-15 03:33] spock-recode commented on #23
200만원은 월 정액 요금인데, 아직 확정된 사항이 아닙니다. 테스트 중이고, 포맷이 크게 다른 것이 아니기 때문에 개발 후 런칭하는 시기에 적용하는 것으로 가겠습니다.

[2019-10-15 03:34] #10 closed

[2019-10-15 04:49] ryancho commented on #21
Nothing to do say
살펴보았습니다. 이견없습니다.

[2019-10-15 05:15] ryancho commented on #22
@spockwoz please check this " Reviewee Individual Customer Contact. "

[2019-10-15 06:49] aesopturtle commented on #23
I have a question about the PR list.
That list is a list of PRs of a specific user, right?
Or is it a list of PRs of a specific organization?
I see that the title says "My Code Review" but there are many reviewees under the PR list.
And if they are PRs for a specific user, why do we need to hide/blur the title for private PRs?

Another issue is about the PR statuses.
I think we could make it more

[2019-10-15 06:56] iamappple commented on #18
@aesopturtle @spock-recode We should be check for sign up process this work before.

1. User click the button for sign up. (in RE-CODE site)
2. Agreement Terms and Condition (in RE-CODE site)
3. Github SSO (in Github site)
4. If completed Github SSO, move to RE-CODE app install page. (in Github site)
 -> Like this
![image](https://user-images.githubusercontent.com/55983122/66806859-842f3d80-ef63-1

[2019-10-15 07:05] iamappple commented on #23
First of all, the PRs screen needs to be changed. We also want to show user the current status of other people's code views in your own PRs and RE-CODE on the page.
To do so, I am going to change that UI.

And your idea is very good. I'll consider the same UI as the Sprint board.

[2019-10-15 09:24] aesopturtle commented on #18
@iamappple This requires creating a github app which I have no idea how it works or how hard it is. I'll take a look and give you an update later.

[2019-10-15 10:01] iamappple commented on #18
Okay. Then I'll design the screens that I need first on the RE-CODE site. Please write comments later.

[2019-10-16 02:14] aesopturtle opened #24 "[Admin] Plan the timeline for admin project"

[2019-10-16 02:26] aesopturtle opened #25 "[Research] Business model research on pullrequest.com"
Apply as a reviewer on pullrequest.com and see how the process works:
- How a reviewer is recruited (channels)
- User onboarding process for a reviewer
- Pricing/incentive models
- etc.

[2019-10-16 05:45] spock-recode opened #26 "리뷰어 테스트 문서 작성"
## 다음의 언어로 개발진행 중인 소스코드를 github에서 찾아서 코드리뷰어 테스트 목적의 repository를 생성한다.

1. Java - Spring
2. Python - Django
3. C++
4. Javascript - React, Angular
5. Typescript - React, Angular
6. Ruby - Ruby on Rails
7. PHP - Laravel
8. Swift
9. Kotlin
10. Go

## 프로세스
1. repo 검색> https://github.com/topics/beginner-project?l=java&o=desc&s=stars
2. fork
3. 코드리뷰할 소스코드를 복사하여 새 파일로 만들고, Reviewer에게 PR을 생성한다.
4. 코드리뷰 결과

[2019-10-16 09:38] #26 closed

[2019-10-16 10:41] aesopturtle opened #27 "[Admin] Create global layout"
Create a global layout component for the admin project.

[2019-10-16 10:46] aesopturtle opened #28 "[Admin] Implement sign-in with Google"
Implement the sign-in page for the admin project.
The sign-in should have the following characteristics:
1. sign-in with Google
2. only allow email addresses under ReCode organization (re-code.io domain)

Design: https://www.figma.com/file/miRQYWwKQFkv0SbL3opjl2/Backoffice?node-id=18%3A1

[2019-10-16 16:45] iamappple opened #29 "[Admin] definition User story / IA"
## IA
You can check this [document](https://docs.google.com/spreadsheets/d/1QzgU_Q99GKbz25ke8cHxxe23aqIFAE6d75gD9SVa2no/edit#gid=1647044078)

I made two version admin IA.

Backoffice MVP Version is an IA that is simply configured with the management features required to launch.  We'll make this first.

![image](https://user-images.githubusercontent.com/55983122/66939894-e761c280-f07e-11e9-9967-8f4

[2019-10-16 16:47] iamappple commented on #29
@aesopturtle  @spock-recode  Please check this issue.  I mage admin site IA and User story.  If you have an opinion on this, please make a comment here.

[2019-10-16 16:59] iamappple opened #30 "Create for App & Admin gantt"
## Gantt
[Link](https://docs.google.com/spreadsheets/d/1QzgU_Q99GKbz25ke8cHxxe23aqIFAE6d75gD9SVa2no/edit#gid=2048004259)

[2019-10-16 18:54] iamappple commented on #30
I making a Gantt Chart for App & Admin right now. So I need your opinion on our schedule in the future.

Please check the gantt chart.  [Link](https://docs.google.com/spreadsheets/d/1QzgU_Q99GKbz25ke8cHxxe23aqIFAE6d75gD9SVa2no/edit#gid=2048004259)

Now,

1. The test schedule has not yet been included.
2. Currently, the app schedule and administrator schedule are set separately.

I wonder if you th

[2019-10-16 20:41] aesopturtle commented on #30
@iamappple I think the development for app and admin should go together for related features. However, for testing, we can do it separately and focus on the app first. In fact, we can even use the admin site to help with the testing of the app. For example, if we are working with the sign-up page for the app, we can use the admin site to check if the user appears in the list. If not, we can then c

[2019-10-17 06:02] iamappple commented on #30
I agree with you. Okay. Then I'll try to reschedule the app so that the admin can go along with it.

[2019-10-17 11:46] #29 closed

[2019-10-18 04:48] iamappple opened #31 "Improved user story"
For App & Admin stie MVP version

# Document

[Link](https://docs.google.com/spreadsheets/d/1QzgU_Q99GKbz25ke8cHxxe23aqIFAE6d75gD9SVa2no/edit#gid=0)

I wrote it on the MVP tab.

User stories are written around functions. More details will be defined in the Wireframe & Design file.

[2019-10-18 04:50] iamappple commented on #13
@aesopturtle How can i test this? please give me url.

[2019-10-18 05:58] iamappple commented on #31
@aesopturtle @spock-recode Please check this issue. This is a user story written for the MVP version.

[2019-10-18 06:13] iamappple commented on #18
@aesopturtle I updated the service process document. Please check [this](https://docs.google.com/presentation/d/1CvEE_-A2uDF6PDoI6pZMdGaf2eXfIa5DBwyLHshmkWE/edit#slide=id.g64e6344eb6_0_5) document.

[2019-10-18 06:18] #23 closed

[2019-10-18 06:19] iamappple commented on #18
And then i will improve the sign up screen today. :)

[2019-10-18 07:23] aesopturtle opened #32 "[App] Design leveling system for a reviewer"

[2019-10-18 09:03] iamappple commented on #18
@aesopturtle I have completed the design for Sign up and Sign in. Now only screens provided by our app are defined. If we need a screen when user go to Github, i will design it after it is analyzed.

And the mobile version is made only in Korean. You can also create other language versions based on this.

Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=346%3A33

[2019-10-18 09:29] iamappple opened #33 "[Admin] Wireframe for admin : Users"
# Figma URL
https://www.figma.com/file/miRQYWwKQFkv0SbL3opjl2/Backoffice?node-id=8%3A0

# Description
I have completed the design for the screen that manages the user.
It was composed of simple management functions according to the MVP version.

[2019-10-18 09:29] spock-recode commented on #31
LGTM

[2019-10-19 14:56] iamappple commented on #21
@aesopturtle @spock-recode I have completed the design and definition of the PR page. First of all, please check the currently produced screen and give me your opinion.  I will make a mobile version after I finally apply them.

[2019-10-19 14:56] #31 closed

[2019-10-19 14:56] #30 closed

[2019-10-21 08:14] ryancho opened #34 "Sales Action [Excute]"
- [x] Create CS Chaneel [Sales]
[Done]KAKAO business Channel
[Result](https://docs.google.com/spreadsheets/d/1O4aQZflrtLp9WZidwjrkiKf4XuGI1d9azagDwSHJFAE/edit#gid=1453803643)
Homepage Info Update ( location, companyname)
- [x] Contact 4 Reviewee [Sales]
Doing
[Result](https://docs.google.com/spreadsheets/d/1mlj0o1AHmDVn_lpgtsJA70Mrtk5-dA6j9PxNJMNvv0o/edit#gid=2002772475)
- [x] Contact 6 Reviewer [

[2019-10-21 12:31] iamappple commented on #33
@aesopturtle @spock-recode Please check this screen. If you have any idea, please write the comment in Figma file. Thanks.

[2019-10-21 16:20] aesopturtle commented on #18
@iamappple Please access https://re-code.io/landing for testing the login feature. Please note that a user can sign in without signing up first. It's an OAuth feature. That sign-up feature is actually unnecessary. There is one additional thing to be aware. If a user does not share his email address from his github account, the OAuth will not return his email address.

[2019-10-21 16:22] aesopturtle opened #35 "[App] Create the PR page."
Implement a page showing a list of pull requests for a logged-in user.

Design: https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=190%3A269

[2019-10-22 03:13] spock-recode opened #36 "create Github App"
1. create firebase function for the Github app webhook.
- insert PR data to database and set 'Open' status.
- update 'In Review' status if make first commit.
- update 'Closed' status if PR Closed.

2. test it
- security is ok?
- is status changed?

[2019-10-22 07:27] spock-recode commented on #36
1. You can install recode app from Github on [RE-CODE.IO APP](https://github.com/apps/re-code-io)
2. document - public-pr/{github pr id}
`{
    authorId,
    authorAvatar,
    title,
    desc,
    status: 'Open',
    url,
    reviewerId: null,
    reviewerAvatar: null,
    reviewerRating: null,
    createdAt: new Date(),
    updatedAt: new Date(),
    createdBy: senderId,
    updatedBy: senderId,

[2019-10-22 07:32] #36 closed

[2019-10-22 19:36] aesopturtle commented on #35
@iamappple Could you please help export the status icons (and the lock icon for a private PR) for me? I can't find a way to export just a complete icon itself (without surrounding empty space).

[2019-10-23 05:37] iamappple commented on #35
OK. I will attached this issue.

[2019-10-23 05:38] iamappple commented on #35
@aesopturtle  And Please check this Figma File.
I have defined the screen for public PR.

https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=650%3A0

[2019-10-23 06:02] iamappple commented on #35
[01_statusIcon.zip](https://github.com/re-code-io/app/files/3760426/01_statusIcon.zip)

@aesopturtle Can you check this icon? It's my first SVG icon. :)

[2019-10-23 06:04] iamappple commented on #35
I'm sorry. I closed the issue due to my mistake. So I opened it again. @aesopturtle

[2019-10-23 06:30] iamappple commented on #35
[02_icn_PR.zip](https://github.com/re-code-io/app/files/3760536/02_icn_PR.zip)
@aesopturtle Please check this file. This is the required icon in the PR list.

[2019-10-23 12:38] iamappple commented on #18
@aesopturtle
### Test Step
I signed out of Github before testing this function.
(Chrome in Desktop)

1. Connected https://re-code.io/landing
2. Click the sign in button
3. A new window opens. But the screen is empty with nothing on it.

![image](https://user-images.githubusercontent.com/55983122/67393006-8422e380-f5dc-11e9-8827-ae6aba17e17a.png)

Is phenomenon number 3 normal?

[2019-10-23 12:49] iamappple commented on #18
@aesopturtle
I tested the connection on PC and Mobile chrome and Safari browser.
(https://re-code.io/landing)

### Test

- **When connected from Chrome browser on PC**: OK

- **When connect from the Chrome browser on PC and change to the mobile version**: OK.

- **When connect from the Safari browser on my PC** : blank screen

![image](https://user-images.githubusercontent.com/55983122/67394215-c7

[2019-10-24 00:26] #22 closed

[2019-10-24 16:46] aesopturtle commented on #28
@iamappple Yeah. https://admin-re-code-io.firebaseapp.com

[2019-10-26 08:36] ryancho opened #37 "Sales Action for community and closing"
- [x] offline community.
today
next week
- [x] closing sales.
- [x] re-sales
Mr cho
Ms. Shin
Ms. Lee
- [x] Sales measurement
- [x] marketing action for launch product.
contents

[2019-10-29 01:10] iamappple opened #38 "PG 정보 전달"
1. 서비스에 적용할 PG사 정보를 전달해주세요.
2. 우리 사이트에서 결제를 제공하는데, 전자상거래 관련해서 자격득실 같은 것이 필요할까요? 확인이 필요할 것 같아요.

[2019-10-29 01:13] spock-recode commented on #38
@ryancho UI 제작을 위한 참고 자료 좀 전달 부탁합니다.

[2019-10-29 03:41] ryancho commented on #38
1. 부트페이
id lion@re-code.io / tkdlvks!47a
사이트 https://admin.bootpay.co.kr/receipt?s=1

2.

[2019-10-29 04:23] iamappple commented on #38
전달 감사합니다.
금일 밤에 확인하도록 할게요.

[2019-10-29 04:32] #38 closed

[2019-10-29 05:48] aesopturtle opened #39 "[App] Create how-it-works page"
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=171%3A151

[2019-10-29 06:13] iamappple opened #40 "Image export : How it works"

[2019-10-29 06:14] iamappple opened #41 "Change Gantt chart"

[2019-10-29 13:33] iamappple commented on #40
@aesopturtle Kiang~!  I made export all image on "How it works" page.
Please download below zip file.
[01_How it works.zip](https://github.com/re-code-io/app/files/3783696/01_How.it.works.zip)

I organized image file by folder. Icons, Patterns and contents image.
And content images have made two types. (png, SVG)

If the image doesn't working, please tell me again.

[2019-10-31 12:06] iamappple commented on #13
@aesopturtle Can you check this?
This part is missing.
This is count of subscribers.

![image](https://user-images.githubusercontent.com/55983122/67945432-346a9a80-fc22-11e9-9729-6f0695060d3f.png)

Please check it out. :)

[2019-10-31 12:08] iamappple commented on #28
@aesopturtle @spock-recode I tested this. Completed.

[2019-10-31 12:09] #28 closed

[2019-10-31 12:19] iamappple opened #42 "[APP] Main : sourcecode image modify"
## Figma file URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=0%3A1

## Description
Our main screen has already been completed. I checked it both on the desktop and on the mobile. However, it is necessary to correct comments on the image of the source code.

@spockwoz You must access the URL above and modify the contents. When you finish this, I will make an image again and se

[2019-10-31 12:24] iamappple commented on #39
@aesopturtle @spock-recode I tested this screen of desktop and mobile version. No problem. Thanks @aesopturtle. But how i check Korean version? We need a Korean version first. right @spock-recode ?

[2019-10-31 12:25] #40 closed

[2019-10-31 12:33] iamappple commented on #14
@aesopturtle I can not see the main page my phone(iPhone X / Chrome / Safari / https://re-code.io/landing) Please check again.

[2019-10-31 12:37] iamappple commented on #39
@aesopturtle I can not check it my phone (iPhone X / Safari / Chrome) Please check again.

[2019-11-03 01:25] iamappple opened #43 "[APP] Wireframe : Payment"
### Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=918%3A73

### Description
I finished designing the page for payment. It is made as follows.

**1. Desktop**
**- Korean Version**: Order
**- Korean version**: Order completed
**- English Version**: Order
**- English version**: Order completed

If you press the payment or paypal button on the order page, the payment gatew

[2019-11-03 11:08] iamappple commented on #43
@aesopturtle @spock-recode  Design and confirm the information, please.

[2019-11-03 13:10] iamappple opened #44 "[Backoffice] Wireframe : Payment"
### Figma
https://www.figma.com/file/miRQYWwKQFkv0SbL3opjl2/Backoffice?node-id=126%3A0

### Description
This is the screen to view the payment list. We can search and check the payment status and information on this screen. There is no function to manage here. The payment management function will use the admin page provided by PG.

[2019-11-06 04:41] aesopturtle opened #45 "[App] Implement notification center"

[2019-11-06 04:41] aesopturtle opened #46 "[App] Implement user menu"

[2019-11-09 03:45] iamappple commented on #44
@spock-recode 관리자 사이트에 대한 화면입니다. 위의 경로로 확인하셔도 되고, 피그마 앱으로 직접 접속할 경우에는 Project_RE-CODE > Backoffice 파일의 Payment 화면을 확인하면 됩니다.

[2019-11-09 07:12] aesopturtle opened #47 "[App] Create the payment page."
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=242%3A338

- [x] Payment dialog
- [x] Payment progress
- [x] Payment review
- [x] Payment form
- [x] Payment summary

[2019-11-09 13:11] iamappple opened #48 "[Test] App : Sign up / Sign in / Sign out"
### Test
I tested my laptop and mobile browser. (Chrome, Safari)

- [x] 1. Sign up by github account
- [x] 2. Sign in
- [ ] 3. Sign out

[2019-11-09 13:50] iamappple commented on #48
@aesopturtle
I've logged in, but this area doesn't change.

- Laptop version
![image](https://user-images.githubusercontent.com/55983122/68529516-ec92f400-0342-11ea-9e75-2bceeb30210b.png)

- Mobile version
![image](https://user-images.githubusercontent.com/55983122/68529526-f583c580-0342-11ea-8e72-bd17d191851d.png)

You can check the screen after logging in at Figma [file](https://www.figma.com/fi

[2019-11-09 13:54] iamappple commented on #48
### Check for sign up
@aesopturtle  I sign up with my github account. Can you check that I'm a member?

[2019-11-09 13:59] iamappple opened #49 "[Test] How it works"
### Test

Check for "How it works" page

- [x]  EN version
- [x]  KR version

[2019-11-09 14:05] iamappple commented on #49
@aesopturtle How can i test kr version?

[2019-11-10 00:51] spock-recode commented on #44
확인했습니다~ 특이사항 없습니다.

On Sat, Nov 9, 2019 at 12:45 PM iamappple <notifications@github.com> wrote:

[2019-11-10 04:14] iamappple opened #50 "[Admin] Development for : Payment"
### Figma
https://www.figma.com/file/miRQYWwKQFkv0SbL3opjl2/Backoffice?node-id=126%3A0

### Description
This is the screen to view the payment list. We can search and check the payment status and information on this screen. There is no function to manage here. The payment management function will use the admin page provided by PG.

[2019-11-10 04:14] #44 closed

[2019-11-12 07:50] aesopturtle opened #51 "[App] Add Korean translation"

[2019-11-12 12:10] iamappple opened #52 "[Test] payment"
Testing the payment function test me. Except for the Korean version.

[2019-11-12 12:21] iamappple commented on #52
@aesopturtle
### Test Step
1. Sign in by Github SSO
2. Enter the Pricing page
3. Clicked Purchase button

### Improvements
1. Please check the user's sign in status when clicked purchase button
![image](https://user-images.githubusercontent.com/55983122/68670788-13466a00-0591-11ea-9613-c1afb1a19388.png)

2 If the user sign in status, please road user's github username.
![image](https://user-images

[2019-11-12 12:38] iamappple commented on #52
@aesopturtle
![image](https://user-images.githubusercontent.com/55983122/68672242-86051480-0594-11ea-9c08-2ec495fc1ec2.png)

If the user click this button, we provided request popup screen.
You can see the that screen this figma file.

https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=179%3A224

[2019-11-12 12:39] iamappple commented on #47
@aesopturtle I will test this page today. thanks

[2019-11-12 13:15] iamappple commented on #52
@aesopturtle
Sorry kiang. I made a mistake. English applied the wrong size. on page pricing Can you change the text size of the marked area to 14px?

![image](https://user-images.githubusercontent.com/55983122/68673356-e7c67e00-0596-11ea-8b2b-755d225b5e51.png)

And 1 more,
our product cost & contents has change.

* Indivisual > Small Project 1,000,000 => 790,000

And Contents (Both EN/KR)
* EN
![i

[2019-11-12 13:17] #47 closed

[2019-11-12 13:17] #20 closed

[2019-11-12 14:38] iamappple opened #53 "[Test] Mobile version"
### Test
iPhone X chrome, safari  (all current version)

We have to improve mobile version.
I'll write comment in this issue check point.

[2019-11-12 14:51] iamappple commented on #53
@aesopturtle
### Test Step
1. Open the landing main page by my phone Safari, Chrome
2. And Scroll right in screen

![image](https://user-images.githubusercontent.com/55983122/68681167-447d6500-05a6-11ea-965d-8001f52fdd07.png)

3. As shown above, the right part of the pattern is visible.

### Improvement
I think we don't provided scroll right and left in mobile version.
And i attached mobile versio

[2019-11-12 14:54] iamappple commented on #53
@aesopturtle
### Test
1. Open the landing main page by my phone Safari, Chrome
2. And touch hamburger menu on left top

![image](https://user-images.githubusercontent.com/55983122/68681914-9c689b80-05a7-11ea-9cc5-e41b3caf7c6a.png)

### Improvement
I think we can get rid of the RE-CODE symbol in red squares.

[2019-11-12 16:54] aesopturtle commented on #52
Do you have your github username setup?
Could you please capture the screen of your github page where your username is shown.

[2019-11-12 16:56] aesopturtle commented on #52
I don't see the contact us screen.
Could you please capture it and post it here?

[2019-11-14 12:50] #43 closed

[2019-11-14 12:52] iamappple commented on #21
@spock-recode @aesopturtle We end this issue because we've decided to implement this as an open source.

[2019-11-14 12:52] #21 closed

[2019-11-14 12:54] #19 closed

[2019-11-14 12:54] #18 closed

[2019-11-14 12:55] #39 closed

[2019-11-14 12:55] #14 closed

[2019-11-14 12:56] iamappple commented on #11
@spock-recode 이 업무 제가 계속 진행을 못하고 있고, 최근 오픈소스 사용하기로 한 부분 등 변경된 사항이 있어 필요 시 추후 다시 진행하도록 하겠습니다. 본 이슈는 종료합니다.

[2019-11-14 12:56] #11 closed

[2019-11-14 13:38] iamappple opened #54 "[App] Wireframe : My page"
### Figma

https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=440%3A4059

### Description

[2019-11-16 18:26] aesopturtle opened #55 "[App] PayPal Integration"
Integrate PayPal on the pricing page.
At the moment, the sandbox mode will be used.
The following information is used for testing PayPal in sandbox mode.
[code]
When ready, company's PayPal app should be set up and the PayPal client ID should be replaced with the production one in `environment.prod.ts`.

[2019-11-16 18:39] aesopturtle commented on #55
@iamappple PayPal doesn't support KRW. Please see https://developer.paypal.com/docs/checkout/reference/customize-sdk/#currency for more information.

[2019-11-17 04:57] aesopturtle opened #56 "[App] Discount Coupon System"

[2019-11-18 15:48] #54 closed

[2019-11-18 15:52] iamappple opened #57 "[App] Development : My Page"
### Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=440%3A4059

### Description
This is user my page.
We provide for user's PRs, payment history and activity information in this menu. I divided by Tab this information. And then some tab has inner sub tabs.

**1. My PRs**
This is user's public and private pr list. User can check his PR status and write rating for reviewer

[2019-11-19 13:49] aesopturtle commented on #48
@iamappple Sorry for such a late reply. Please try the sign-up/in feature again. Many things have been changed.

[2019-11-19 13:50] aesopturtle commented on #48
@iamappple I saw that the ticket has been assigned to both you and me. Is it ready for me to work on? I have removed myself from being an assignee. Please assign it to me (only me) again when this ticket is ready for me to work on. Having multiple assignees are a bit confusing.

[2019-11-19 13:51] aesopturtle commented on #52
@iamappple I saw that the ticket has been assigned to both you and me. Is it ready for me to work on? I have removed myself from being an assignee. Please assign it to me (only me) again when this ticket is ready for me to work on. Having multiple assignees are a bit confusing.

[2019-11-19 14:41] aesopturtle opened #58 "[App] Repository selection upon payment"

[2019-11-20 13:19] iamappple commented on #51
Korean version test

- [ ] Main
- [ ] Sign up
- [ ] Sign in
- [ ] How it works
- [ ] Pricing

[2019-11-20 13:40] iamappple commented on #51
@aesopturtle  I can't see the payment order and order completed screen. I will make another issue about that. That is because it is a different error.
In this issue, he only wrote about the application of the Korean version.

[2019-11-20 13:46] iamappple commented on #53
I checked this screen. Thanks.

[2019-11-20 13:52] iamappple commented on #53
I checked this screen by chrome, safari from laptop mode and mobile phone(iPhone X)
But the same thing is still happening.

![image](https://user-images.githubusercontent.com/55983122/69244428-45d31100-0be8-11ea-8360-a4e9585fde71.png)

[2019-11-20 13:52] #49 closed

[2019-11-20 14:09] iamappple opened #59 "[Debug] Navigation is not working."
### Test Step
I tested chrome, safari from my laptop and mobile phone (iPhone X)
And i deleted all cookies before the test.

1. Connected RE-CODE site.
2. Click to menu button. (How it works, Pricing)
3. Sometimes it doesn't work. Now working just laptop chrome. Please check below screen.

#### Laptop
- [x] Chrome : working
- [x] Safari : Not working

![image](https://user-images.githubusercontent

[2019-11-20 14:19] iamappple commented on #48
Okay i will create new issue.
And close this issue.

[2019-11-20 14:19] #48 closed

[2019-11-20 14:40] iamappple opened #60 "[Debug] Sign in / Sign up"
### Test Step
Before this test I had already logged in to the Github site.
And tested by my laptop and mobile.  Its' same problem.

1. Conneted RE-CODE site
2. Click the Sign in or Sign up button

![image](https://user-images.githubusercontent.com/55983122/69248138-0b20a700-0bef-11ea-93af-2faeec1c6341.png)

3. The screen blinks when you click the button, but there is no change in this part. I can'

[2019-11-20 14:45] iamappple opened #61 "[Development] App : Pricing > Request popup"
### Figma URL
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=466%3A85

### Description
I remember one day you said you couldn't find a design for this.

![image](https://user-images.githubusercontent.com/55983122/69248371-884c1c00-0bef-11ea-8c07-1828ae6e7114.png)

You can see the above Figma URL.

![image](https://user-images.githubusercontent.com/55983122/69248495-bdf10500-0bef-

[2019-11-20 15:16] iamappple commented on #51
@aesopturtle
**Pricing > Individual, Corporation : Request popup**

![image](https://user-images.githubusercontent.com/55983122/69250870-d19e6a80-0bf3-11ea-9228-ea7940c6903c.png)

![image](https://user-images.githubusercontent.com/55983122/69250919-e24ee080-0bf3-11ea-81ba-c26a9f90b0c4.png)

You can check the Korean version screen in this Figma.

https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ve

[2019-11-21 00:55] aesopturtle commented on #53
@iamappple Please try refreshing the page. You should be able to see the fixed version now.

[2019-11-21 01:13] aesopturtle commented on #60
@iamappple Could you please provide more detail?
- Which browser were you using?
- When you tried to sign up/in, have you already signed in or were you in the sign-out state?
- Is there any error message in the Console (Chrome F12)?

[2019-11-21 18:22] iamappple commented on #53
Yeah i checked this screen. Thanks

[2019-11-21 18:22] #53 closed

[2019-11-23 08:19] aesopturtle commented on #57
@iamappple Why are we using different icons for PR status on this page? The one on the PRs page are different.

![image](https://user-images.githubusercontent.com/570265/69475831-ab9be480-0e04-11ea-9664-62d5e2a162e9.png)

[2019-11-24 00:28] iamappple commented on #57
That's because the processes of public and private PR are different. The public case is because when a user does PR, the source is opened and shown to many people. However, private is matched with the reviewer and the person starts the review. So I made the icon different from the state.

[2019-11-26 02:28] iamappple opened #62 "[App] Wireframe : My page > Claim request screen"
### Figma
https://www.figma.com/file/6zH2mFVA3Ol2agEbZ1EGq3/Ver-02?node-id=440%3A4059

### Description

[2019-11-26 02:29] #33 closed

[2019-11-26 02:29] #51 closed

[2019-11-26 02:31] #61 closed

[2019-11-26 02:37] #59 closed

[2019-11-26 04:58] iamappple commented on #62
@spock-mark1 @ryancho
마이페이지 내에 추가한 수익내역 탭입니다.
의견 구하기 위해서 코멘트 남깁니다.

1. 수익내역 탭
![image](https://user-images.githubusercontent.com/55983122/69600498-2e66ae80-1054-11ea-8bef-6a768695d6d8.png)

![image](https://user-images.githubusercontent.com/55983122/69600631-b056d780-1054-11ea-9a5b-9cb09bdf6517.png)

![image](https://user-images.githubusercontent.com/55983122/69600639-ba78d600-1054-11ea-9131-4b70b

[2019-11-26 05:12] techroad2019 commented on #62
![image](https://user-images.githubusercontent.com/58165389/69601216-c796c480-1056-11ea-8366-9a83b6b862c6.png)
네이버 블로그 직지급 내역입니다. 좀더 심플하게 되어있는것같습니다.

[2019-11-26 05:14] techroad2019 commented on #62
![image](https://user-images.githubusercontent.com/58165389/69601280-f9a82680-1056-11ea-9638-ec94a9557c98.png)
세금부분이 있는것같습니다.

저희는 10만원 이라도 3.3% 세율적용 후 지급할 예정입니다.

[2019-11-26 06:20] techroad2019 commented on #62
1.지급요청 페이지

온라인은행 사용과 동일한 경험이 유저에게 편할것같아요

제언사항
-마지막사용한 정보가 자동으로 들어가고
-새로입력하기 버튼
-수취자이름(옵션)

2.지급요청

네이버 블로그 수익신청, 구글 수익신청경험과 동일 하면 좋을것같아요

-요청금액 5천원 단위
(낙전효과, 재유입요인)

[2019-11-28 06:27] iamappple opened #63 "[App] wireframe&Design : Search developer"
### Figma

[2019-11-29 14:05] reviewer-recode commented on #63
프로젝트 진행기간 대신에
*현재 업무의 예상되는 기간 Ex 1일”
*현재 업무의 요청하는 개발자 1일단가 Ex 20만원”
도 좋아보입니다.

[2019-11-29 14:06] iamappple commented on #63
OK~
수정할게요~

[2020-01-15 08:55] #37 closed

[2020-01-15 08:56] #34 closed